# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifact
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Local pnpm store directory (if configured to be in the project root)
.pnpm-store/

# Environment variables
.env*

# System & security files
.DS_Store
*.pem

# Vercel deployment metadata
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Ignore SWC compiler cache directory (speeds up builds, generated locally)
.swc/
